
<div class="container">
    <h1>冠甫的小幫手</h1>
    <p>這網站將協助冠甫完成無聊的台水台電填資料雜事</p>
    <br>

    <%= form_with url: 'start', method: :get, class: 'my-form' do |f| %>
        <div class="my-field">
            <%= f.label '地址' %>
            <%= f.text_field :address %>
        </div>
        <div class="my-field">
            <%= f.label '日期' %>
            <%= f.text_field :date %>
        </div>
        <div class="my-field">
            <%= f.label '屋主' %>
            <%= f.text_field :owner %>
        </div>
        <div class="my-field">
            <%= f.label '姓名' %>
            <%= f.text_field :name %>
        </div>
        <div class="my-field">
            <%= f.label '身分證' %>
            <%= f.text_field :idcard %>
        </div>
        <div class="my-field">
            <%= f.label '電話' %>
            <%= f.text_field :phone %>
        </div>
        <div class="my-field">
            <%= f.label '水號' %>
            <%= f.text_field :waternum %>
        </div>
        <div class="my-field">
            <%= f.label '水表度數', class: 'watervol' %>
            <%= f.text_field :watervol %>
        </div>
        <%= f.submit '產生圖表', class: 'submit' %>
    <% end %>
</div>